@media only screen and (max-width: 768px) {
  .firstLeftTitle {
    flex-direction: column !important;
    margin-left: 0 !important;
  }

  .homeFirstTitle {
    font-size: 3.2em !important;
  }

  .homeTitlePlace {
    padding-top: 2em !important;
  }

  .responsiveLeft {
    justify-content: flex-start !important;
    margin-left: 0.5em;
  }
  .responsiveRight {
    justify-content: flex-end !important;
    margin-right: 0.5em;
  }

  .firstRightTitle {
    margin-right: 0 !important;
    flex-direction: column !important;
  }
  .responsiveSecondRight {
    justify-content: flex-end !important;
    margin-right: 0.8em;
  }
  .titleLets {
    display: flex;
    justify-content: flex-end !important;
    margin-right: 2em;
    font-size: 22px !important;
    font-weight: 400 !important;
    margin-top: 0.2em !important;
  }
  .title360Style {
    display: flex;

    text-align: center;
    margin-top: 0.5em !important;
  }

  .newsContainer {
    align-items: center;
    justify-content: center;
  }
}

.HomeContainer {
  color: white;
  margin-top: 3em;
  margin-bottom: 10em;
  font-family: Arial, Helvetica, sans-serif;
}

.homeFirstTitle {
  display: flex;
  font-size: 6em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.firstLeftTitle {
  float: left;
  display: flex;
  flex-direction: row;
  margin-left: 12.5em;
  white-space: nowrap;
}

.firstRightTitle {
  margin-right: 12.5em;
  display: flex;
  flex-direction: row;
  float: right;
  justify-content: flex-end;
  white-space: nowrap;
}

.homeTitlePlace {
  margin: 0 auto;
  flex-direction: column;
  display: flex;
}

.titleLets {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-top: 1em;
}

.firstCardPlace {
  justify-content: center;
}

.cardFourCarousel {
  display: grid;
  grid-template-columns: auto auto auto;
}

.leftArrow {
  bottom: 0;
  position: absolute;
  margin-left: 2em;
}
.rightArrow {
  margin-left: 5em;
  bottom: 0;
  position: absolute;
}

.carouselContainer {
  padding-bottom: 2.5em;
}

.carouselFirsItemImg {
  margin-top: 5em !important;
  display: flex;
  margin: 0 auto;
}

.thirdTitleContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.title360Style {
  font-size: 5em;
  margin-top: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.newsContainer {
  margin-top: 10em;
}
