* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hamburgerSearchPlace {
  position: absolute;
  right: 20px;
  top: 20px;
}

@media (min-width: 768px) {
  .hamburgerSearchPlace {
    display: none !important;
  }
}
